<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293071833413-0pfam6245q7n20ukrogsmq7lcqpatt3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293071833413-0pfam6245q7n20ukrogsmq7lcqpatt3n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>293071833413-1cu1vpdi1edte9recost04c2qu1eitv1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDnZk0Ur4CEGgxCeRu-v6GrieTo0QBeGI</string>
	<key>GCM_SENDER_ID</key>
	<string>293071833413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rpc.kreki119</string>
	<key>PROJECT_ID</key>
	<string>devkreki-80095</string>
	<key>STORAGE_BUCKET</key>
	<string>devkreki-80095.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293071833413:ios:e6328381337c71972e162c</string>
	<key>DATABASE_URL</key>
	<string>https://devkreki-80095-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>